/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* BOOTSTRAP */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* VARIABLES */

:root {
    --dark-bg: #000000;
    --dark: #6E04AE;
    --primary: #9531D8;
    --secondary: #dabdf1;
    --degrade: #03CDDA;
    --black: #1E1E1E;
    --grey: #646464;
    --soft-grey: #ececec;
    --white: #FFF;
    --font: 'Roboto', sans-serif;
}

/* RESET CSS */

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--font);
    font-size: 1.1rem;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* NAV */

nav {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5vw;
}

.navbar-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.logo {
    font-size: 1.5em;
    font-weight: bolder;
}

.App {
    min-height: 100vh;
}

/* SCROLL BAR */

.App, html, body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--white);
}

body::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
}

/* CATEGORY */

.main {
    padding: 30px 5vw;
}

.category-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.category-icon {
    background: var(--dark);
    padding: 30px;
    border-radius: 10px;
    color: var(--white);
}

.category-container .bi, h2 {
    font-size: 1.5rem;
}

/* VEHICLES */

.vehicles-for-sale {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.vehicle {
    display: grid;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.vehicle:hover {
    display: grid;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.vehicle-image {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vehicle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.vehicle-image:hover {
    box-shadow: 0 0 0 3px var(--primary);
    transition: 0.5s;
    cursor: pointer;
}

.vehicle-price {
    color: var(--grey);
}

/* RESPONSIVE */

@media only screen and (max-width: 600px) {
    nav {
        display: grid;
        gap: 30px;
    }

    .vehicle {
        margin: 0 auto;
    }
}

/* LOGIN */

.login-container {
    position: absolute;
    top: 0;
}

.login-container {
    display: flex;
}

.banner-login {
    background: var(--primary);
    background-image: url("https://images.unsplash.com/photo-1570733577524-3a047079e80d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=693&q=80");
    width: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.form-login {
    display: grid;
    width: 50vw;
    justify-content: center;
    align-items: center;
    background: var(--white);
}

.form {
    display: grid;
    gap: 30px;
}

input {
    background: var(--secondary);
    border: none;
    padding: 10px;
    width: auto;
    min-width: 300px;
    height: 25px;
    border-radius: 5px;
    outline: var(--primary);
}

.primary-button {
    background: var(--primary);
    border: none;
    padding: 10px;
    width: 100%;
    color: var(--white);
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

/* ACCORDION */

.accordion-container {
    min-height: 100vh;
    padding: 130px 5vw 90px 5vw;
    max-width: 400px;
    box-sizing: border-box;
}

.accordion-list {
    max-width: 600px;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 20px;
}

/* Style the accordion section */
.accordion-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #fff;
    color: var(--grey);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.disabled .accordion {
    opacity: 0.5;
    cursor: unset;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active {
    border-radius: 10px 10px 0 0;
}

/* Style the accordion content title */
.accordion-title {
    font-weight: 500;
    margin: 0;
    padding: 0;
}

/* Style the accordion chevron icon */
.accordion-icon, .bi-plus {
    transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
    transform: rotate(90deg);
}

.rotate-45 {
    transform: rotate(45deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion-content {
    background-color: white;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}

/* Style the accordion content text */
.accordion-text {
    font-weight: 400;
    padding: 25px;
    color: #757575;
    line-height: 29px;
    box-sizing: border-box;
}

.bi-plus {
    color: var(--primary);
    font-size: 2rem;
}

.label-container {
    border-radius: 5px;
    display: flex;
    margin: 0;
    align-items: center;
    width: auto;
}

/* Pagination */

.example-container {
    display: grid;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}

.card-example {
    padding: 30px 20px;
    background-color: #fff;
    width: 700px;
    border-radius: 10px;
    justify-content: left;
    align-items: center;
    display: flex;
    gap: 10px;
}

.card-example b {
    color: var(--primary);
}

.pagination-bar {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    border-radius: 10px;
    box-sizing: border-box !important;
    justify-content: space-between;
    max-width: 300px;
}

.pagination-bar button {
    padding: 4px 10px;
    color: var(--grey);
    border: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1.5px solid #e0e0e0;
}

.pagination-bar button:nth-child(1) {
    border-radius: 10px 0 0 10px;
}

.pagination-bar button:nth-child(5) {
    border-radius: 0 10px 10px 0;
}

.currentPage {
    background-color: var(--primary) !important;
    color: var(--white) !important;
    min-width: 20px;
    padding: 0 15px !important;
    border: none;
}

.pagination-numbers {
    display: flex;
    color: var(--grey);
    width: auto;
    align-items: center;
    justify-content: end;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
}

/* Pagination */

/* Table */

.filter-container {
    margin-top: 50px;
}

.portal-custom-select {
    gap: 20px;
    display: flex;
}

.portal-custom-select select {
    max-width: 150px;
}

.custom-select {
    border: none;
    outline: none;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    width: 60px;
    text-align: center;
    cursor: pointer;
}

.bi-accent {
    color: var(--primary) !important;
}

.table-container {
    margin: 50px 0;
    max-width: 1500px;
    border-radius: 10px;
    overflow-x: auto !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.tableTitle {
    font-weight: 400;
    text-transform: uppercase;
    border: solic 3px var(--primary);
}

.custom-table {
    width: 100%;
    color: var(--grey);
    border-radius: 10px;
    white-space: nowrap;
    overflow: auto !important;
}

.table-header th {
    padding: 20px;
    text-align: center;
}

.custom-tbody tr td {
    padding: 5px;
    text-align: center;
    border-bottom: 3px solid var(--white);
    vertical-align: middle;
}

.align-div {
    display: grid;
    justify-content: center;
    align-items: center;
}

.upppercase {
    text-transform: uppercase;
}

.custom-tbody tr {
    cursor: pointer;
    background-color: var(--soft-grey);
}

.custom-tbody tr:nth-child(even) {
    background-color: var(--white);
}

thead td {
    padding: 30px;
}

.bi-lg {
    font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {

    .banner-login {
        display: none;
    }

    .form-login {
        width: 100vw;
        min-height: 100vh;
    }
}

@media screen and (max-width: 1275px) {
    .pagination-container,
    .table-container {
        max-width: none;
    }
}

@media screen and (max-width: 1280px) {
    .custom-tbody tr td {
        padding: 15px;
    }

    thead td {
        padding: 15px;
    }
}

@media screen and (max-width: 700px) {
    .pagination-container {
        display: grid;
        gap: 30px;
        justify-content: left;
    }

    .pagination-numbers {
        justify-content: start;
    }
}

.settings-forms-container {
    display: grid;
    gap: 30px;
}

.input-container {
    display: grid;
    gap: 15px;
}

.table-container {
    display: grid;
    overflow-x: auto;
}


@media screen and (max-width: 550px) {
    .accordion, .accordion-content {
        max-width: 90vw;
    }

    input, .input {
        min-width: 0;
    }
}

/* TABLE */

@media screen and (max-width: 1550px) {
    .custom-table {
        display: table;
    }
}

/* MANAGE PRODUCT */

.custom-form {
    display: grid;
    gap: 5px;
}

.update-image {
    margin: 0 auto;
    max-width: 250px;
    border-radius: 10px;
}

.page-title {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.update-product {
    display: grid;
    justify-content: center;
}

.link {
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.link:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.custom-form * {
    font-size: 1rem;
}

/* ANIMATIONS */

@keyframes fadeInUp {
    from {
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
    opacity: 0;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* NOT FOUND */

.not-found {
    display: grid;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.not-found-message {
    display: grid;
    justify-content: center;
    gap: 70px;
    text-align: center;
}

.bi-search {
    color: var(--dark);
    font-size: calc(5vw + 30px);
    margin: 0 auto;
}

.banner {
    background-image: url("https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    width: 100%;
    height: 300px;
    margin: 0 0 60px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

footer {
    margin-top: 100px;
    color: var(--soft-grey);
    width: 100vw;
    height: 2.5rem;
    background-color: var(--dark-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
}

.product-preview{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}