/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* BOOTSTRAP */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* VARIABLES */

:root {
    --dark-bg: #121212;
    --dark: #6E04AE;
    --primary: #9531D8;
    --secondary: #CA98EC;
    --degrade: #03CDDA;
    --black: #1E1E1E;
    --grey: #646464;
    --white: #FFF;
    --font: 'Roboto', sans-serif;
}

/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--font);
    font-size: 1.1rem;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* NAV */

nav {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.navbar-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.logo {
    font-size: 1.5em;
    font-weight: bolder;
}

.App {
    min-height: 100vh;
}

/* SCROLL BAR */

.App, html, body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--white);
}

body::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
}

/* CATEGORY */

.main {
    padding: 30px 5vw;
}

.category-container {
    display: flex;
    gap: 30px;
    color: var(--white);
    align-items: center;
}

.category-icon {
    background: var(--dark);
    padding: 30px;
    border-radius: 10px;
}

.bi, h2 {
    font-size: 2rem;
}

/* VEHICLES */

.vehicles-for-sale {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.vehicle {
    display: grid;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.vehicle:hover {
    display: grid;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.vehicle-image {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.vehicle-image img {
    width: 100%;
}

.vehicle-image:hover {
    box-shadow: 0 0 0 3px var(--primary);
    transition: 0.5s;
    cursor: pointer;
}

.vehicle-price {
    color: var(--grey);
}

/* RESPONSIVE */

@media only screen and (max-width: 600px) {
    nav {
        display: grid;
        gap: 30px;
    }

    .vehicle {
        margin: 0 auto;
    }
}

/* LOGIN */

.login-container {
    display: flex;
}

.banner-login {
    background: var(--primary);
    background-image: url("https://images.unsplash.com/photo-1570733577524-3a047079e80d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=693&q=80");
    width: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.form-login {
    display: grid;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.form-login form {
    display: grid;
    gap: 30px;
}

input {
    background: var(--secondary);
    border: none;
    padding: 10px;
    width: 260px;
    height: 25px;
    border-radius: 5px;
    outline: var(--primary);
}

.primary-button {
    background: var(--primary);
    border: none;
    padding: 10px;
    width: 100%;
    color: var(--white);
    height: 50px;
    border-radius: 5px;
}